<head>{{title}}</head>

<div>
    <form [formGroup]="itemForm">
        <table class="table">
            <thead>
                <th>图片</th>
                <th>菜名</th>
                <th>价格</th>
                <th>种类</th>
                <th>折扣（%）</th>
                <th>现价</th>
            </thead>
            <tbody formArrayName="items" *ngFor="let group of getFormData.controls; let i=index">
                <tr [formGroupName]="i">
                    <td>
                    
                    </td>
                    <td><input type="text" class = "formCell" formControlName="foodName" ></td>
                    <td><input type="text" class = "formCell" formControlName="price" >          </td>
                    <td><input  type="text" class = "formCell" formControlName="type"></td>
                    <td><input #perc type="text" class = "formCell" formControlName="discountInPercentage" 
                    (change)="calculateDiscount(i, perc.value)"></td>
                    <td><input  type="text" class = "formCell" formControlName="discountInDollar"></td>
                    <td><button (click)="remove(i)">Remove</button></td>
                </tr>
        </table>
    </form>
    <button (click)="addUser()" class="btnAdd">Add new</button>
</div>
<div><img [src]="urlLink" *ngIf="urlLink" class="image">
    <input #Image type="file"  (change)="selectFile($event)" class = "imageCell"/></div>